# FTSE Market Summary & Portfolio Analysis

### In this assignment, I had to analyse a dataset related to Financial Times Stock Exchange 100 Index.

The goal of this assignment was to preprocess and analyse the data using the Pandas library and Python tools.

During this assignment I learnt the following skills:
- Data Moderation and Cleaning with Pandas
- Data Aggregation and Preparation with Pandas
- Dropping a specific row (with a Ticker value of RDSA) and dropping a column (strong buy)
- Changing a column type, but removing certain characters such as a comma to convert values to floats
- Creating a function that formats values in a specific column, such as: if the last character is a % sign, remove it, convert the string to a float, if that float is posiive, multiply it by 100, return the resulting float
- Creating a new column with the apply method that runs my format function to produce desired values in new column
- Within a given column, display values that contain a certain string
- Creating a boolean column that represents if a specific value is met in a different column
- Investigating if a list of tuples meet 2 requirements in the data set, and if so, the values should only appear once in a new list

## About the Dataset

In the following section, you will be analysing **The Financial Times Stock Exchange 100 (FTSE 100) Index** data, pronounced, the 'Footsie hundred', is a share index of the 100 companies listed on the London Stock Exchange with the highest market capitalisation. 


The dataset includes information about:

- Company - Name of  the publicly traded company

- Ticker - A ticker or stock symbol is an abbreviation used to uniquely identify a stock on a particular stock market

- Sector - Industry in which the company operates in

- Mid-price (p) - Average between the 'buying' and the 'selling' price of a particular stock

- Change - Difference between the current price and the previous day's market price of a particular stock
    - A positive change is what allows investors to make a profit.

- Our view - View of the analyst or the brokerage firm collected this data

- Brokers - Total number of brokerage firms tracking and analysing the stock

- 'Strong Buy', 'Buy', 'Neutral', 'Sell', 'Strong Sell' - columns indicates the weighted verdict of all Brokers 

- Recommendation - Final verdict or recommendation for the stock
    - Overweight/Outperform means "buy", investors should assign a higher weighting to the stock in portfolios or funds 
    - Underweight/Underperform means "sell" or "don't buy" recommendation for a specific stock

## Importing Pandas Library

Make sure you run the following code cell import Pandas Library before you attempt any of the questions

In [2]:
import pandas as pd

## Importing the dataset

First use the `.read_csv()` function to import the file `FTSE100.csv` from the `data` folder, assigning it to `df` DataFrame. 

After using the `.head()` method to look at the first five rows of the `df` DataFrame. Also, consider using `.info()` method to further explore your data.

In [3]:
df = pd.read_csv('data/FTSE100.csv')
df.head()

,Company,Ticker,Sector,Mid-price (p),Change,Our view,Brokers,Strong Buy,Buy,Neutral,Sell,Strong Sell,Recommendation
0,3i,III,Financial Services,"1,099.50",0.0171,Hold,5,NaN,4,1,0,0,Buy
1,Admiral Group,ADM,Nonlife Insurance,"2,115.00",-0.42%,Hold,18,NaN,2,6,7,3,Underweight
2,Anglo American plc,AAL,Mining,"1,744.00",0.0154,Hold,24,NaN,15,6,2,0,Buy
3,Antofagasta,ANTO,Mining,848.2,0.0326,Hold,21,NaN,8,9,3,0,Overweight
4,Ashtead Group,AHT,Support Services,"2,207.00",0.0347,Buy,17,NaN,12,5,0,0,Buy

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         101 non-null    object
 1   Ticker          101 non-null    object
 2   Sector          101 non-null    object
 3   Mid-price (p)   101 non-null    object
 4   Change          101 non-null    object
 5   Our view        101 non-null    object
 6   Brokers         101 non-null    int64
 7   Strong Buy      0 non-null      float64
 8   Buy             101 non-null    int64
 9   Neutral         101 non-null    int64
 10  Sell            101 non-null    int64
 11  Strong Sell     101 non-null    int64
 12  Recommendation  101 non-null    object
dtypes: float64(1), int64(5), object(7)
memory usage: 10.4+ KB

## 1. Tidy Data


The dataset has a column with only `n/a` values, and also 101 rows (you may have been expecting 100!). This is because one of the companies (Royal Dutch Shell) has two entries. We can get rid of the first instance of these (RDSA).

Starting from a copy of `df`, create a new DataFrame called `clean_df` with the following changes:
- Drop the row with a `Ticker` value of `RDSA`
- Drop the `Strong Buy` column

In [5]:
# df.drop(['B', 'C'], axis=1)

clean_df = df[df['Ticker'] != 'RDSA'].copy()
clean_df = clean_df.drop(['Strong Buy'], axis=1)

clean_df

,Company,Ticker,Sector,Mid-price (p),Change,Our view,Brokers,Buy,Neutral,Sell,Strong Sell,Recommendation
0,3i,III,Financial Services,"1,099.50",0.0171,Hold,5,4,1,0,0,Buy
1,Admiral Group,ADM,Nonlife Insurance,"2,115.00",-0.42%,Hold,18,2,6,7,3,Underweight
2,Anglo American plc,AAL,Mining,"1,744.00",0.0154,Hold,24,15,6,2,0,Buy
3,Antofagasta,ANTO,Mining,848.2,0.0326,Hold,21,8,9,3,0,Overweight
4,Ashtead Group,AHT,Support Services,"2,207.00",0.0347,Buy,17,12,5,0,0,Buy
...,...,...,...,...,...,...,...,...,...,...,...,...
96,Unilever,ULVR,Personal Goods,"5,151.00",0.0029,Buy,16,6,6,2,1,Overweight
97,United Utilities,UU.,"Gas, Water & Multi-utilities",808,0.0025,Buy,12,4,4,1,2,Overweight
98,Vodafone Group,VOD,Mobile Telecommunications,155.88,0.0203,Buy,20,14,3,1,0,Buy
99,Whitbread,WTB,Retail hospitality,"4,357.00",0.0035,Hold,22,3,12,3,3,Neutral
100,WPP plc,WPP,Media,970.6,0.0208,Hold,21,10,9,1,1,Overweight

## 2. Change Column Data Type

Look at the values in the `Mid-price (p)` column. At first glance they may look like floats but in fact they have been interpreted as text. We need to change them to floats for them to be more useful.

Starting from a copy of `clean_df`, create a new DataFrame called  `price_df` with the following change:

- Convert the values in the `Mid-price (p)` column to floats (keeping the column in the same place)

*Hint: converting directly to a float may not work if there are commas in the strings; you may find the [str.replace](https://docs.python.org/3/library/stdtypes.html#str.replace) method useful for fixing this before conversion.*

In [23]:


#Make sure you call your new DataFrame price_df
price_df = clean_df.copy()
price_df['Mid-price (p)'] = price_df['Mid-price (p)'].str.replace(',', '')
price_df['Mid-price (p)'] = price_df['Mid-price (p)'].astype(float)
price_df['Mid-price (p)']

0      1099.50
1      2115.00
2      1744.00
3       848.20
4      2207.00
        ...
96     5151.00
97      808.00
98      155.88
99     4357.00
100     970.60
Name: Mid-price (p), Length: 100, dtype: float64

## 3. Format Change Values

Take a look at the values in the `Change` column. You'll see that they are in an inconsistent format, and stored as strings. The positive values need to be multiplied by 100. The negative values need to have the `%` sign removed.

**Part 1:** Create a function called `format_change` which takes a string such as those in the `Change` column and does the following:
1. If the last character is a % sign, remove it 
2. Convert the string to a float
3. If that float is posiive, multiply it by 100
4. Return the resulting float

*Hint: to convert string to a float you may find [float()](https://www.w3schools.com/python/ref_func_float.asp) function useful*

In [7]:
df['Change'].head(5)

0    0.0171
1    -0.42%
2    0.0154
3    0.0326
4    0.0347
Name: Change, dtype: object

In [24]:
def format_change(string):
    #if the last character of the string == %, remove the last character
    if string[-1] == "%":
        string = string[:-1]
    #assign variable to float and changing string to float
    str_as_float = float(string)
    # if the float is a positive number (greater than 0), muliptly it by 100    
    if str_as_float > 0:
        str_as_float = str_as_float * 100
    
    return str_as_float

# I was going wrong with returning mulitple times and not having a clear variable name

In [25]:
format_change('0.45%')

45.0

### Below are my initail attemps at solving the above question

In [8]:
# def format_change(string):
#     if string[-1] == '%':
#         string = string[:-1]

#        Float = float(string)
#         if Float > 0:
#             return Float * 100
#         else: return Float
#     else: return float(string)
     
#         Float = float(string)
#         if Float > 0:
#             Float * 100
#         return Float
#     else: return None

In [10]:
# def format_change(string):
#     if string[-1] == '%':
#         string = string[:-1]
#         if float(string) > 0:
#             return float(string) * 100
#     else: 
#         return float(string) * 100

In [11]:
# #add your code below
# def format_change(string):
#      if string[-1] == '%':
#         new_string = string[:-1]
#         if float(new_string) > 0:
#             new_value = 100 * float(new_string)
#         return new_value
#      elif float(string) <= 0:
#         return float(string)
#      else: return float(string) * 100

Uncomment and run the following code cell to test that your function works as expected:

**Part 2:** Starting from a copy of `price_df`, create a new DataFrame called  `change_df` with a new column called `Change (%)`:

- This should contain the result returned from the function created above when given the original `Change` column value as the argument

In [13]:

change_df = price_df.copy()
change_df['Change (%)'] = price_df['Change'].apply(format_change)

change_df

,Company,Ticker,Sector,Mid-price (p),Change,Our view,Brokers,Buy,Neutral,Sell,Strong Sell,Recommendation,Change (%)
0,3i,III,Financial Services,1099.50,0.0171,Hold,5,4,1,0,0,Buy,1.71
1,Admiral Group,ADM,Nonlife Insurance,2115.00,-0.42%,Hold,18,2,6,7,3,Underweight,-0.42
2,Anglo American plc,AAL,Mining,1744.00,0.0154,Hold,24,15,6,2,0,Buy,1.54
3,Antofagasta,ANTO,Mining,848.20,0.0326,Hold,21,8,9,3,0,Overweight,3.26
4,Ashtead Group,AHT,Support Services,2207.00,0.0347,Buy,17,12,5,0,0,Buy,3.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Unilever,ULVR,Personal Goods,5151.00,0.0029,Buy,16,6,6,2,1,Overweight,0.29
97,United Utilities,UU.,"Gas, Water & Multi-utilities",808.00,0.0025,Buy,12,4,4,1,2,Overweight,0.25
98,Vodafone Group,VOD,Mobile Telecommunications,155.88,0.0203,Buy,20,14,3,1,0,Buy,2.03
99,Whitbread,WTB,Retail hospitality,4357.00,0.0035,Hold,22,3,12,3,3,Neutral,0.35
100,WPP plc,WPP,Media,970.60,0.0208,Hold,21,10,9,1,1,Overweight,2.08

In [26]:
change1 = change_df[change_df['Company'].str.contains('BP')]
print(change1)

   Company Ticker               Sector  Mid-price (p)  Change Our view  \
15      BP    BP.  Oil & Gas Producers         1733.0  0.0123      Buy

    Brokers  Buy  Neutral  Sell  Strong Sell Recommendation  Change (%)
15       29   15        9     0            1            Buy        1.23

## 4. Holding Summary

You are given the details of a share holding in a tuple, containing the company ticker code, number of shares, and price paid. Make sure you run the following code cell before attempting the question.

In [15]:
holding = ('BP.', 500, 1535.21)

print(holding[0])
print(holding[1])
print(holding[2])

BP.
500
1535.21

Starting from the `holding` above and `change_df`, build a new dictionary containing the following keys and the appropriate values in the given data formats.

```
{    
    holding_cost: float,    
    # The cost (in £, not pence) of the holding (number of shares * price paid)
    holding_value: float,    
    # The value (in £, not pence) of the holding (number of shares * current mid-price) 
    change_in_value: float,    
    # The percentage change from the original cost of the holding to the current value  
    (e.g. if the holding_value is 1.2 * the holding_cost, the change_in_value should equal 20.0)
    
}
```

Call this dictionary `holding_dict`


*Hint: If you want to get the first item in a series of values (such as a column of a filtered DataFrame), you can use* `.values[0]` *on the column*

In [16]:
holding_dict = {
 "holding_cost" : float(holding[1]) * float(holding[2])/100,
    "holding_value" : float(holding[1]) * price_df['Mid-price (p)'].astype(float).values[15] / 100,
    "change_in_value" : ((float(holding[1]) * price_df['Mid-price (p)'].astype(float).values[15] / 100) - (float(holding[1]) * float(holding[2])/100))  / (float(holding[1]) * float(holding[2])/100) * 100 
}

holding_dict

{'holding_cost': 7676.05,
 'holding_value': 8665.0,
 'change_in_value': 12.883579445157336}

In [17]:
# my_dict =  {
#     "holding_cost" : float(holding[1]) * float(holding[2])/100,
#     "holding_value" : float(holding[1]) * price_df['Mid-price (p)'].astype(float).values[15] / 100,
#     "change_in_value" : my_dict['holding_value'] / my_dict['holding_cost']  
# }
# my_dict

# ((float(holding[1]) * price_df['Mid-price (p)'].astype(float).values[15] / 100) / (float(holding[1]) * float(holding[2])) * 100)

# percent_change = (holding_value - holding_cost)/ holding_cost * 100
# # 12.883579445157338

## 5. Market Comparison

Provided with the DataFrame you processed above, `change_df`, we would like to compare the % change in the mid-price for each company to the average % change for all companies in the market, along with a summary of the broker recommendations.

Create a DataFrame called `comparison_df` with the following columns added to a copy of `change_df`: 

- **'Beat Market'** - This should be a Boolean column with `True` for stocks where `Change (%)` exceeds that of the average market change
- **'Buy Ratio'** - This should equal the `Buy` column divided by the `Brokers` column

*Hint: Calculate the average market change % first then compare each value in the `Change (%)` column to that when creating the new column*

In [18]:
#add your code below

#Make sure you call your new DataFrame comparison_df
comparison_df = change_df.copy()
market_val = change_df['Change (%)'].mean()
comparison_df['Beat Market'] = comparison_df['Change (%)'] > market_val
comparison_df['Buy Ratio'] = comparison_df['Buy'] / comparison_df['Brokers']
comparison_df

,Company,Ticker,Sector,Mid-price (p),Change,Our view,Brokers,Buy,Neutral,Sell,Strong Sell,Recommendation,Change (%),Beat Market,Buy Ratio
0,3i,III,Financial Services,1099.50,0.0171,Hold,5,4,1,0,0,Buy,1.71,True,0.800000
1,Admiral Group,ADM,Nonlife Insurance,2115.00,-0.42%,Hold,18,2,6,7,3,Underweight,-0.42,False,0.111111
2,Anglo American plc,AAL,Mining,1744.00,0.0154,Hold,24,15,6,2,0,Buy,1.54,True,0.625000
3,Antofagasta,ANTO,Mining,848.20,0.0326,Hold,21,8,9,3,0,Overweight,3.26,True,0.380952
4,Ashtead Group,AHT,Support Services,2207.00,0.0347,Buy,17,12,5,0,0,Buy,3.47,True,0.705882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Unilever,ULVR,Personal Goods,5151.00,0.0029,Buy,16,6,6,2,1,Overweight,0.29,False,0.375000
97,United Utilities,UU.,"Gas, Water & Multi-utilities",808.00,0.0025,Buy,12,4,4,1,2,Overweight,0.25,False,0.333333
98,Vodafone Group,VOD,Mobile Telecommunications,155.88,0.0203,Buy,20,14,3,1,0,Buy,2.03,True,0.700000
99,Whitbread,WTB,Retail hospitality,4357.00,0.0035,Hold,22,3,12,3,3,Neutral,0.35,False,0.136364
100,WPP plc,WPP,Media,970.60,0.0208,Hold,21,10,9,1,1,Overweight,2.08,True,0.476190

## 6. Investigate

We want to identify any companies which match a given set of rules, so that we can look into them further.   

We want to identify companies in `watchlist` that meet at least one of the following requirements:

i) Any company in `watchlist` whose prices is equal to or lower than the given target price.

ii) Any company in `watchlist` where `Buy Ratio` is 0.5 or greater.

Using the `watchlist` below and `comparison_df` you defined, create a list of companies meeting the requirements, call this list `companies_list`. The list should only have the company names, not the price.

Note: **A company meeting both requirements should only appear once in the list**.

*Hint: create an empty list to add company names to, using a loop to work through the watchlist. If you want to get the first item in a series of values (such as a column of a filtered DataFrame), you can use* `.values[0]` *on the column.*

In [20]:
watchlist = [('TUI', 820.0), ('Whitbread', 4300.0), ('AstraZeneca', 7500.0), 
             ('Standard Chartered', 920.0), ('Barclays', 135.5)]

In [32]:
# creating empty list
companies_list = []

for name, target_price in watchlist:
    # if name in watchlist is found in 'Company' column 
    company_row = comparison_df[ comparison_df["Company"].str.contains(name) == True ]
    #setting up values within the new company_row df
    mid_price = company_row["Mid-price (p)"].values[0]
    buy_ratio = company_row["Buy Ratio"].values[0]
    
    if (name not in companies_list) and (mid_price <= target_price):
        companies_list.append(name)
    elif (name not in companies_list) and (buy_ratio >= 0.5):
        companies_list.append(name)

TUI 820.0
Whitbread 4300.0
AstraZeneca 7500.0
Standard Chartered 920.0
Barclays 135.5

In [22]:
companies_list

['TUI', 'AstraZeneca', 'Standard Chartered']